@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #EEE3CB;
  background-color: #EEE3CB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #666d7c;
  padding: 1vw;
}

a {
  font-weight: 500;
  color: #97866A;
  background-color: #967E76;
  text-decoration: inherit;
}
a:hover {
  color: #97866A;
}

/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #48352f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #97866A;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #666d7c;
    background-color: #EEE3CB;
  }
  a:hover {
    color: #EEE3CB;
  }
  button {
    background-color: #EEE3CB;
  }
}

.stone-container {
  background-color: #666d7c;
  margin: 2vw;
  padding: 1vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  background-color: #48352f;
  color: #EEE3CB;
  margin: 1vw;
  padding: 1vw;
  border-radius: 2vh;
}

nav a {
  background-color: #666d7c;
  color: #EEE3CB;
  margin: 0;
}

article {
  margin: 2vw;
}

article p, article h2, label, h1 {
  color: #48352f;
}

input {
  background-color: #48352f;
  padding: 1vw;
  margin: 1vw;
  border-radius: 3vw;
  flex: 4;
}

label {
  font-size: 1.2rem;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5vw 10vw;
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  margin: 2vw;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 2vh;
}

.stone-img img {
  height: 25vh;
  padding: 1vw;
  width: 20vw;
  object-fit: contain;
}

.stone-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 1vw;
  display: flex;
  flex-direction: column;
}